* {
    margin: 0;
    padding: 0;
}
.heading {
    justify-content: left;
    display: flex;
    width: 40%;
    font-size: 35px;
    transition: background-color 1s ease-in-out;
    color: #dbd8e3;
}
.heading:hover {
    background-color: red;
}
.container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 10px 20px 5px 20px;
    align-items: center;
}
ul li {
    display: inline;
    padding: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 25px;
    color:#dbd8e3;
}
body {
    background-color: #5c5470;
}
